*.pyc
*.h3?
*.hmm
*.mpa
*.tpl
*.pdb.seq
profiles/*.aln
profiles/*.cma
profiles/*.dft
profiles/*.nwk
profiles/SomeKinases/*.aln
profiles/SomeKinases/*.cma
profiles/SomeKinases/CAMK/*.aln
profiles/SomeKinases/CAMK/*.cma
profiles/SomeKinases/CMGC/*.aln
profiles/SomeKinases/CMGC/*.cma
profiles/SomeKinases/STE/*.aln
profiles/SomeKinases/STE/*.cma
profiles/ROPK/*.aln
profiles/ROPK/*.cma

